body {
  font-family: Arial, sans-serif;
  background: url('/static/gold.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  color: #ffd700; /* Gold color */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffd700; /* Gold color */
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ccac00; /* Darker gold color */
}

h3 {
  margin-top: 20px;
  color: #ffd700; /* Gold color */
}
